#back img {
  max-width: 100%;
  position: fixed;
  opacity: 0.15;
}

p {
  font-size: 13pt;
}

a.fa fa-home:before {
  border: 12px solid #DCDADA;
  position: absolute;
  border-radius: 50%;
  opacity: 0.8
}
